{% extends "base.html" %}
{% block content %}
<div class="container">
    
    <br>
    <h5 class="my-3 border-bottom pb-2">계정생성</h5>
    
    <form method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1"
                   value="{{ form.password1.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.data or '' }}">
        </div>
        
        <div class="mb-3">
            <label for="pnumber">휴대폰번호</label>
            <input type="text" class="form-control" name="pnumber" id="pnumber"
                   value="{{ form.pnumber.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="Hadress">집주소</label>
            <input type="text" class="form-control" name="Hadress" id="Hadress"
                   value="{{ form.Hadress.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="pcode">우편번호</label>
            <input type="text" class="form-control" name="pcode" id="pcode"
                   value="{{ form.pcode.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="Cadress">회사주소</label>
            <input type="text" class="form-control" name="Cadress" id="Cadress"
                   value="{{ form.Cadress.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="Clitype">고객타입</label>
            {{ form.Clitype(class="form-control") }}
        </div>
        <div class="mb-3">
            <label for="Ncode">국가</label>
            <input type="text" class="form-control" name="Ncode" id="Ncode"
                   value="{{ form.Ncode.data or '' }}">
        </div>
        <button type="submit" class="btn btn-primary">생성하기</button>

    </form>
</div>
{% endblock %}